/* CUSTOM-PROPS */
:root {
  --green-color: #30c88f;
  --text-color: #9597a5;
  --accent-color: #2d314d;

  --gradient: linear-gradient(135deg, #33D35E 0%, #2AB6D9 99.58%);
}

/* FONTS */
@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Thin.woff2") format("woff2"),
  url("../fonts/PublicSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Regular.woff2") format("woff2"),
  url("../fonts/PublicSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Public Sans";
  src: url("../fonts/PublicSans-Medium.woff2") format("woff2"),
  url("../fonts/PublicSans-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Public Sans", "Arial", sans-serif;
  font-size: 16px;
  line-height: 26px;
  background-color: #fafafa;
  color: var(--text-color);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}


/* AUTOFILL-STYLES */
/*input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}*/


/* PLACEHOLDER-STYLES */
/*::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}*/


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER */
.container {
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}


/* LOGO */
.logo {
  display: flex;
  text-decoration: none;
}

.logo:hover {
  opacity: 0.8;
}

.logo:active {
  opacity: 0.6;
}

.logo__img {
  width: 139px;
  height: 20px;
  object-fit: contain;
}

/* SITENAV */
.sitenav__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sitenav__item {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}

.sitenav__item:not(:last-child) {
  margin-right: 30px;
}

.sitenav__link {
  display: block;
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  line-height: normal;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.108px;
}

.sitenav__link:hover {
  color: var(--accent-color);
}

.sitenav__link::after {
  position: absolute;
  display: none;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--green-color);
  background-image: var(--gradient);
  content: '';
}

.sitenav__link:hover::after {
  display: block;
}


/* BUTTON */
.button {
  display: inline-block;
  position: relative;
  padding: 8px 34px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
  border-radius: 22px;
  letter-spacing: -0.25px;
  background-color: var(--green-color);
  background-image: var(--gradient);
  cursor: pointer;
  white-space: nowrap;
}

.button:hover::after {
  position: absolute;
  border-radius: 22px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  content: '';
}

.button:active {
  transform: translateY(3px);
}

/* SITE-HEADER */
.site-header {
  position: relative;
  z-index: 10;
  background-color: #fff;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
}


/* HERO */
.hero {
  position: relative;
  padding-top: 170px;
  padding-bottom: 170px;
  background-image: url("../img/hero-bg-desktop.svg");
  background-repeat: no-repeat;
  background-position: calc(50% + 595px) -260px;
}

.hero__info {
  width: 100%;
  max-width: 447px;
  margin-right: 28px;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 24px;
  color: var(--accent-color);
  font-size: 56px;
  line-height: 64px;
  font-style: normal;
  font-weight: 100;
  letter-spacing: -1px;
}

.hero__text {
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 28px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.281px;
}

.hero__img {
  position: absolute;
  z-index: 5;
  width: 729px;
  height: 900px;
  left: calc(50% + 74px);
  top: -122px;
}


/* INFORMATIONS */
.informations {
  padding-top: 96px;
  padding-bottom: 94px;
  background-color: #f4f5f7;
}

.informations__info {
  width: 100%;
  max-width: 635px;
  margin-bottom: 72px;
}

.informations__title {
  margin-top: 0;
  margin-bottom: 16px;
  color: var(--accent-color);
  font-size: 40px;
  line-height: 64px;
  font-weight: 100;
  letter-spacing: -0.714px;
}

.informations__text {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: -0.281px;
}

.informations__list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-left: -30px;
  margin-bottom: -80px;
  flex-wrap: wrap;
}

.informations__item {
  width: 100%;
  max-width: 255px;
  margin-bottom: 80px;
  margin-left: 30px;
}

/* FEATURE */
.information__icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 72px;
  height: 72px;
  border-radius: 50%;
  background-image: var(--gradient);
  margin-bottom: 40px;
}

.information__icon {
  width: 40px;
  height: 40px;
  object-fit: contain;
  object-position: center center;
}

.information__icon--simple-budgetting {
  margin-left: 6px;
}

.information__title {
  margin-top: 0;
  margin-bottom: 26px;
  color: var(--accent-color);
  font-size: 24px;
  line-height: 28px;
  font-weight: 100;
  letter-spacing: -0.429px;
}

.information__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.25px;
}


/* ARTICLES */
.articles {
  padding-top: 87px;
  padding-bottom: 80px;
  background-color: #fafafa;
}

.articles__title {
  margin-top: 0;
  margin-bottom: 40px;
  color: var(--accent-color);
  font-size: 40px;
  line-height: 64px;
  font-weight: 100;
  letter-spacing: -0.714px;
}

.artiles__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  margin-left: -30px;
}

.articles__item {
  width: 255px;
  margin-left: 30px;
}

.article {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background: #fff;
}

.articles__img {
  width: 255px;
  height: 200px;
  flex-shrink: 0;
  margin-bottom: 25px;
}

.articles__info {
  width: 100%;
  max-width: 207px;
}

.article__author {
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.156px;
  margin-bottom: 8px;
}

.article__heading {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--accent-color);
  font-size: 16px;
  line-height: 20px;
  font-weight: 100;
  letter-spacing: -0.286px;
}

.article__text {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  letter-spacing: -0.203px;
}


/* SITE-FOOTER */
.site-footer {
  padding-top: 70px;
  padding-bottom: 48px;
  background-color: var(--accent-color);
}

.site-footer__container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.site-footer__logo {
  margin-bottom: 75px;
}

.socials {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.socials__item {
}

.socials__item:not(:last-child) {
  margin-right: 15px;
}

.socials__link {
  color: #fff;
}

.site-footer__lists-wrapper {
  display: flex;
}

.site-footer__list {
  width: 160px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.site-footer__item:not(:last-child) {
  margin-bottom: 8px;
}

.site-footer__link {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.234px;
  text-decoration: none;
}

.site-footer__offer {
  text-align: right;
}

.site-footer__about {
  margin-top: 24px;
  color: var(--text-color-50);
  text-align: right;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: -0.234px;
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

}
